@model PasswordViewModel


@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
<div class="container">





<div class="rounded-circle profile-image" style="width: 150px; height: 150px; background-color: lightgray; margin: 0 auto;">
    <!-- You can add an image tag here for the user's profile picture -->
    <!-- Example: <img src="user-profile-image.jpg" class="img-fluid" alt="Profile Image"> -->
</div>
<div class="container mt-5 text-center">
    <h2 id="booking-title" class="pt-5">Reset Password</h2>
</div>


    <div class="container">
        <form class="borders" id="booking-form" method="post">

            <div class="mb-3">
                <label asp-for="Email" class="form-label">
                    <i class="fas fa-envelope"></i> Email 
                </label>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                <input asp-for="Email" class="form-control" readonly />
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">
                    <i class="fas fa-lock"></i> Password <
                </label>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">
                    <i class="fas fa-lock"></i> Confirm Password 
                </label>
                <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-key"></i>  Change Password
            </button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
</div>